div.export, div.start_date, div.end_date {
    display: inline;
    color: darkgrey;
}

div.export_source, div.export_destination, div.export_version, div.export_date_time, div.company_name,
div.organization_number, div.site_name, div.site_number, div.site_id, div.max_allowed_biomass, div.last_date_of_registration,
div.latitude, div.longitude, div.unit_name, div.unit_volume, div.group_id, div.group_name, div.first_date_of_input,
div.last_date_of_input, div.species_id, div.species_name, div.fishtypes, div.fishtype_code, div.fishtype_textual,
div.strains, div.strain {
    display: inline;
}

.countCols, .kgCols, .tempCols {
    text-align: right;
}

table.periods {
    font-size: small;
}

table.qualitysamples {
    display: none;
}
