.countCols, .kgCols, .tempCols {
    text-align: right;
}

div.export {
    color: lightgrey;
}

div.export_source {
	display: inline
}

div.export_destination {
	display: inline
}

div.export_version {
	display: inline
}

div.export_date_time {
	display: inline
}

div.start_date {
	display: inline;
    color: darkgrey;
}

div.end_date {
	display: inline;
    color: darkgrey;
}

div.company {
}

div.company_name {
	display: inline
}

div.organization_number {
	display: inline
}

div.site {
}

div.site_name {
	display: inline
}

div.site_number {
	display: inline
}

div.site_id {
	display: inline
}

div.max_allowed_biomass {
	display: inline
}

div.last_date_of_registration {
	display: inline
}

div.latitude {
	display: inline
}

div.longitude {
	display: inline
}

table.qualitysamples {
    display: none;
}

td.qsample_group {
}

td.qsample_period {
}

td.sample_date {
}

td.individs {
}

td.astaxanthin {
}

td.la_roche_a {
}

td.salmofan_a {
}

td.fat {
}

td.weight_living {
}

td.sample_date {
}

td.condition_factor {
}

td.total_length {
}

td.weight_gutted {
}

div.group {

}

div.unit_name {
	display: inline
}

div.unit_volume {
	display: inline
}

div.group_id {
	display: inline
}

div.group_name {
	display: inline
}

div.first_date_of_input {
	display: inline
}

div.last_date_of_input {
	display: inline
}

div.species_id {
	display: inline
}

div.species_name {
	display: inline
}

div.fishtypes {
	display: inline
}

div.fishtype_code {
	display: inline
}

div.fishtype_textual {
	display: inline
}

div.strains {
	display: inline
}

div.strain {
	display: inline
}

table.periods {
    font-size: small;
}

th.first_day {
}

th.last_day {
}

th.end_stock_count {
}

th.end_stock_biomass {
}

th.stocked_count {
}

th.stocked_biomass {
}

th.movedout_count {
}

th.movedout_biomass {
}

th.movedin_count {
}

th.movedin_biomass {
}

th.loss_count {
}

th.loss_biomass {
}

th.sold_count {
}

th.sold_biomass {
}

th.average_temperature {
}

th.oxygen_readings {
}

th.weight_sample_performed {
}

td.first_day {
}

td.last_day {
}

td.end_stock_count {
}

td.end_stock_biomass {
}

td.stocked_count {
}

td.stocked_biomass {
}

td.movedout_count {
}

td.movedout_biomass {
}

td.movedin_count {
}

td.movedin_biomass {
}

td.loss_count {
}

td.loss_biomass {
}

td.sold_count {
}

td.sold_biomass {
}

td.average_temperature {
}

td.oxygen_readings {
}

span.oxygen_reading_date_time {
}

span.oxygen_reading_value {
}

td.weight_sample_performed {
}

